body {
    background-color: lightblue;
  }
  
  h1 {
    color: red;
  }
  
  p {
    font-size: 18px;
  }
  
  button {
    background-color: #FFCC00;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  